.back-button {
  background-color: transparent;
  color: #ecf0f1;
  border: 1px solid #ccc;
  padding: 1rem;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 200px;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.back-button:hover {
  background-color: #ecf0f110;
  color: #ecf0f1;
}

@media (min-width: 768px) {
  .back-button {
    font-size: 3.5rem;
  }
}