.btn--landing {
  background-color: #e74c3c;
  color: #34495e;
  border: none;
  padding: 2rem 4rem;
  font-size: 6.4rem;
  font-weight: bold;
  border-radius: 200px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Inter', sans-serif;
}

.btn--landing:hover {
  background-color: #f1c40f;
}

@media (min-width: 768px) {
  .btn--landing {
    font-size: 10rem;
  }
}