.pokedex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ECF0F1;
  position: relative;
  padding: 2rem;
  box-sizing: border-box;
}


.pokedex-card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  max-width: 900px;
  width: 100%;
}


@media (min-width: 768px) {
  .pokedex-card {
    grid-template-columns: 1fr 1fr;
    text-align: left;
    gap: 3rem;
  }

  .pokemon-image {
    width: 600px;
    height: 600px;
    margin: 0 auto;
  }
}

.pokemon-header {
  text-align: center;
}

.pokemon-name {
  text-transform: capitalize;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.pokemon-id {
  color: #666;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.pokemon-image {
  width: 270px;
  height: 270px;
  margin: 0 auto;
}

.pokemon-info {
  margin-top: 1rem;
}

.pokemon-info p {
  margin: 0.5rem 0;
  font-size: 1.1rem;
}

.pokemon-description {
  font-style: italic;
  font-size: 1rem;
  margin-top: 1rem;
}

.back-button-container {
  position: absolute;
  top: 2rem;
  left: 2rem;
}